* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  background-color: #e419eb;
  background-image: linear-gradient(
    45deg,
    #d30ed3 0%,
    #d1eb3e 52%,
    #2b39ff 90%
  );
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin-bottom: 5rem;
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  text-shadow: 0 0 10px hsl(305, 87%, 30%);
}

#time {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-shadow: 0 0 10px hsl(305, 87%, 30%);
}
.container {
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 40px 200px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question {
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.btn {
  padding: 15px 15px;
  font-size: 25px;
  margin: 10px;
  color: aliceblue;
  border-radius: 5px;
  background-color: #f82bff;
  background-image: linear-gradient(
    45deg,
    #8bf9ff 0%,
    #2bf4ff 52%,
    #911edd 90%
  );
  transition: all 0.5s ease-out;
  background-size: 1px 100px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.396);
}

.btn-grid {
  display: grid;
  grid-template-columns: reapeat(2, auto);
  margin: 5px;
}

.btn.correct {
  background-color: #00ea27;
  background-image: linear-gradient(45deg, #eaff8b 0%, #00e2ea 100%);
}

.btn.wrong {
  background-color: #ea0028;
  background-image: linear-gradient(180deg, #ff9a8b 0%, #ea0028 100%);
}

#next-btn,
#score-btn {
  width: auto;
  text-align: center;
}

.hide {
  display: none;
}
